---
- name: Install Fail2Ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
  when: hardening_fail2ban_enable | bool

- name: Configure Fail2Ban local jail
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime  = {{ hardening_fail2ban_bantime }}
      findtime = {{ hardening_fail2ban_findtime }}
      maxretry = {{ hardening_fail2ban_maxretry }}
      banaction = ufw
      
      {% if hardening_fail2ban_email_enable | bool %}
      destemail = {{ hardening_fail2ban_dest_email }}
      sender = {{ hardening_fail2ban_sender_email }}
      action = %(action_mwl)s
      {% endif %}

      [sshd]
      enabled = true
      port = {{ hardening_ssh_port }}
    mode: '0644'
  notify: Restart Fail2Ban
  when: hardening_fail2ban_enable | bool
