---
# Defaults for hardening role

# SSH Hardening
hardening_ssh_disable_root: true
hardening_ssh_disable_password: true
hardening_ssh_configure_port: false
hardening_ssh_port: 2222

# System Updates
hardening_update_packages: true

# Firewall
hardening_firewall_enable: true

# Unattended Upgrades
hardening_unattended_upgrades_enable: true

# User Management
hardening_user_create: false
hardening_user_name: "admin_user"
hardening_user_password: "" # Must be a password hash
hardening_sudo_require_password: true
hardening_user_ssh_key_path: "ssh/id_ed25519.pub"
