---
# Defaults for hardening role

# SSH Hardening
hardening_ssh_disable_root: true
hardening_ssh_disable_password: true
hardening_ssh_configure_port: false
hardening_ssh_port: 2222

# System Updates
hardening_update_packages: true

# Firewall
hardening_firewall_enable: true

# Unattended Upgrades
hardening_unattended_upgrades_enable: true
