---
# Defaults for hardening role

# SSH Hardening
hardening_ssh_disable_root: true
hardening_ssh_disable_password: true
hardening_ssh_configure_port: false
hardening_ssh_port: 2222
hardening_ssh_allow_users: []
hardening_ssh_login_grace_time: 30
hardening_ssh_max_auth_tries: 3

# System Updates
hardening_update_packages: true

# Firewall
hardening_firewall_enable: true

# Unattended Upgrades
hardening_unattended_upgrades_enable: true
hardening_unattended_automatic_reboot: false
hardening_unattended_automatic_reboot_time: "02:00"

# User Management
hardening_user_create: false
hardening_user_name: "admin_user"
hardening_user_password: "" # Must be a password hash
hardening_sudo_require_password: true
hardening_user_ssh_key_path: "ssh/id_ed25519.pub"

# Fail2Ban
hardening_fail2ban_enable: true
hardening_fail2ban_maxretry: 3
hardening_fail2ban_findtime: "1h"
hardening_fail2ban_bantime: "10m"
hardening_fail2ban_email_enable: false
hardening_fail2ban_dest_email: "root@localhost"
hardening_fail2ban_sender_email: "fail2ban@{{ ansible_hostname }}"

# Postfix MTA
hardening_postfix_enable: true
hardening_postfix_relayhost: "smtp.example.com"
hardening_postfix_mailname: "{{ ansible_fqdn }}"
hardening_postfix_root_recipient: "admin@example.com"
hardening_postfix_sasl_enable: false
hardening_postfix_sasl_user: ""
hardening_postfix_sasl_password: ""
hardening_postfix_tls_enable: true
hardening_postfix_tls_security_level: "encrypt"
hardening_postfix_tls_ca_file: "/etc/ssl/certs/ca-certificates.crt"

# Sysctl Hardening
hardening_sysctl_enable: true
hardening_sysctl_settings:
  # IP Spoofing protection
  "net.ipv4.conf.all.rp_filter": 1
  "net.ipv4.conf.default.rp_filter": 1
  # Ignore ICMP broadcast requests
  "net.ipv4.icmp_echo_ignore_broadcasts": 1
  # Disable source packet routing
  "net.ipv4.conf.all.accept_source_route": 0
  "net.ipv6.conf.all.accept_source_route": 0
  "net.ipv4.conf.default.accept_source_route": 0
  "net.ipv6.conf.default.accept_source_route": 0
  # Ignore send redirects
  "net.ipv4.conf.all.send_redirects": 0
  "net.ipv4.conf.default.send_redirects": 0
  # Block SYN attacks
  "net.ipv4.tcp_syncookies": 1
  "net.ipv4.tcp_max_syn_backlog": 2048
  "net.ipv4.tcp_synack_retries": 2
  "net.ipv4.tcp_syn_retries": 5
  # Log Martians
  "net.ipv4.conf.all.log_martians": 1
  "net.ipv4.conf.default.log_martians": 1
  # Ignore ICMP redirects
  "net.ipv4.conf.all.accept_redirects": 0
  "net.ipv6.conf.all.accept_redirects": 0
  "net.ipv4.conf.default.accept_redirects": 0
  "net.ipv6.conf.default.accept_redirects": 0
  # Ignore Secure Redirects
  "net.ipv4.conf.all.secure_redirects": 0
  "net.ipv4.conf.default.secure_redirects": 0
  # Disable IP Forwarding (Enable if using Docker/Router)
  "net.ipv4.ip_forward": 0
  "net.ipv6.conf.all.forwarding": 0
  # Kernel Self Protection
  "kernel.randomize_va_space": 2
  "fs.suid_dumpable": 0
  "kernel.sysrq": 0

# File Permissions
hardening_permissions_enable: true
